<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>NBA Linker</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
	<link rel="stylesheet" type="text/css" href="main.css">
</head>
<body>
	<img id="banner" src="banner.jpg">
	<div class="games-container">
		<% for(var i=0; i<games.length; i++) { %>
			<div class="game-div" onclick="window.open('<%= games[i].stream %>');">
				<img class="team-logo" src="<%= games[i].away.toLowerCase() %>.gif" alt="logo" width="80" height="64">
				<span class="at-matchup">at</span>
				<img class="team-logo" src="<%= games[i].home.toLowerCase() %>.gif" alt="logo" width="80" height="64">
			</div>
		<% } %>
	</div>
</body>
</html>